@font-face {
  font-family: "ObjectSans-Heavy";
  src: url("/assets/fonts/object-sans/ObjectSans-Heavy.otf");
}
@font-face {
  font-family: "ObjectSans-Regular";
  src: url("/assets/fonts/object-sans/ObjectSans-Regular.otf");
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url("/assets/fonts/plus-jakarta-sans/PlusJakartaSans-VariableFont_wght.ttf");
}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
* {
  transition: 0.3s background ease-out, 0.3s color ease-out;
}

body {
  all: unset;
  overflow-x: hidden;
  cursor: none;
}
body a, body span {
  cursor: none;
}
body .cursor-dot {
  transition: 0.35s all;
  width: 25px;
  height: 25px;
  background: #B0BDFC;
  opacity: 0.6;
  position: fixed;
  top: -100px;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1000;
  pointer-events: none;
}

header {
  padding: 20px 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "PlusJakartaSans";
  user-select: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 400;
  background: #F6F2FB;
  margin: 10px 70px;
  border-radius: 24px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1254901961);
  transition: 0.25s all;
}
header .logo a {
  text-decoration: none;
  font-weight: 800;
  font-size: 24px;
}
header > nav > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
header > nav > ul > li {
  margin: 0;
  padding: 0;
}
header > nav > ul > li.drop-line {
  margin-right: 15px;
}
header > nav > ul > li.drop-line a {
  text-decoration: none;
  font-weight: 800;
  font-size: 16px;
}
header > nav > ul > li.lang {
  font-weight: 800;
  font-size: 14px;
}
header > nav > ul > li.switch-modes {
  height: 20px;
}
header > nav > ul > li.switch-modes span {
  font-size: 20px;
}
header > nav > ul > li.menu {
  height: 35px;
}
header > nav > ul > li.menu span {
  font-size: 35px;
  transition: 0.3s all;
}
header > nav > ul > li.menu-closed div.menu-container {
  display: none;
  transition: 0.3s all;
}
header > nav > ul > li.menu-open div.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: 0.3s all;
  transform: translateX(100vw);
}
header > nav > ul > li.menu-open div.menu-container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: -40%;
  display: flex;
  flex-direction: column;
}
header > nav > ul > li.menu-open div.menu-container ul li {
  gap: 30px;
  padding: 0;
  margin: 0;
}
header > nav > ul > li.menu-open div.menu-container ul li a {
  font-family: "ObjectSans-Heavy";
  text-decoration: none;
  font-size: 72px;
}

.light-mode header {
  background: #F6F2FB;
  color: #655A78;
}
.light-mode header a, .light-mode header span, .light-mode header .lang {
  color: #655A78;
}
.light-mode header div.menu-container {
  background: #FFF;
}

.dark-mode header {
  background: #0D0C0D;
  color: #756492;
}
.dark-mode header a, .dark-mode header span, .dark-mode header .lang {
  color: #756492;
}
.dark-mode header div.menu-container {
  background: #111;
}

header.dark {
  background: #0D0C0D;
  color: #756492;
  box-shadow: none;
}
header.dark a, header.dark span, header.dark .lang {
  color: #756492;
}
header.dark div.menu-container {
  background: #111;
}

header.init {
  margin: 15px 70px;
  border-radius: none;
  box-shadow: none;
  background: transparent;
}

#hero {
  display: flex;
  height: 100vh;
}
#hero .text {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#hero .text .bg-text {
  margin-bottom: 300px;
  font-family: "ObjectSans-Regular";
  font-size: 200px;
  width: max-content;
  position: absolute;
  animation: scroll 60s forwards linear infinite;
  transition: none;
}
#hero .text .bg-text ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 40px;
  transition: none;
}
#hero .text .front-text {
  font-family: "ObjectSans-Heavy";
  font-size: 120px;
  line-height: 1;
  padding: 0 70px;
  z-index: 1;
}

.light-mode #hero {
  background: #F6F2FB;
}
.light-mode #hero .bg-text {
  color: rgba(101, 90, 120, 0.1);
}
.light-mode #hero .front-text {
  color: #655A78;
}

.dark-mode #hero {
  background: #0D0C0D;
}
.dark-mode #hero .bg-text {
  color: rgba(101, 90, 120, 0.1);
}
.dark-mode #hero .front-text {
  color: #756492;
}

#separator1 {
  font-size: 60px;
  font-family: "PlusJakartaSans";
  width: max-content;
  font-weight: 800;
  word-spacing: 4px;
}
#separator1 .scroller {
  transition: none;
}
#separator1 .scroller ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 0 20px;
  transition: none;
}
#separator1 .scroller ul li {
  transition: none;
}
#separator1 .scroller:first-child {
  animation: scroll 200s forwards linear infinite normal;
}
#separator1 .scroller:last-child {
  animation: scroll 200s forwards linear infinite reverse;
}

#separator2 {
  font-size: 60px;
  font-family: "PlusJakartaSans";
  width: max-content;
  font-weight: 800;
  word-spacing: 4px;
}
#separator2 .scroller {
  transition: 0.3s all ease;
}
#separator2 .scroller ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 0 20px;
  transition: 0.3s all ease;
}
#separator2 .scroller:first-child {
  animation: scroll 200s forwards linear infinite reverse;
}
#separator2 .scroller:last-child {
  animation: scroll 200s forwards linear infinite normal;
}

.light-mode #separator1, .light-mode #separator2 {
  background: #F6F2FB;
  color: rgba(101, 90, 120, 0.1);
}

.dark-mode #separator1, .dark-mode #separator2 {
  background: #0D0C0D;
  color: rgba(101, 90, 120, 0.1);
}

#about {
  padding: 140px 70px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 1780px;
}
#about > section {
  display: flex;
  flex-direction: row;
}
#about > section > section.col-1 {
  flex: 4;
  font-size: 80px;
  font-family: "ObjectSans-Heavy";
  line-height: 1;
}
#about > section > section.col-2 {
  flex: 6;
  font-size: 20px;
  font-family: "PlusJakartaSans";
  margin-top: 20px;
}

.light-mode #about {
  background: #F6F2FB;
}
.light-mode #about > section {
  color: #655A78;
}
.light-mode #about > section > section.col-2 {
  color: #444;
}

.dark-mode #about {
  background: #0D0C0D;
}
.dark-mode #about > section {
  color: #756492;
}
.dark-mode #about > section > section.col-2 {
  color: #eee;
}

#projects {
  padding: 100px 70px;
}
#projects.projects-page {
  padding: 200px 70px 100px 70px;
}
#projects h2 {
  font-family: "ObjectSans-Heavy";
  font-size: 80px;
  margin: 0;
}
#projects .projects {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px 40px;
}
#projects .projects .project {
  text-decoration: none;
}
#projects .projects .project img {
  box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.1254901961);
  border-radius: 24px;
  height: 550px;
  width: 100%;
  object-fit: cover;
}
#projects .projects .project .info {
  margin: 20px 24px;
}
#projects .projects .project .info .type {
  font-family: "PlusJakartaSans";
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}
#projects .projects .project .info .name {
  font-family: "ObjectSans-Heavy";
  font-size: 36px;
  font-weight: 700;
}
#projects .see-more {
  font-weight: 800;
  font-family: "ObjectSans-Heavy";
  font-size: 50px;
  display: flex;
  align-items: flex-end;
  margin-top: 100px;
  text-decoration: none;
  width: fit-content;
}
#projects .see-more span {
  font-size: 50px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.light-mode #projects {
  background: #F6F2FB;
}
.light-mode #projects h2 {
  color: #655A78;
}
.light-mode #projects .projects .project {
  color: #655A78;
}
.light-mode #projects .see-more {
  color: #655A78;
}

.dark-mode #projects {
  background: #0D0C0D;
}
.dark-mode #projects h2 {
  color: #756492;
}
.dark-mode #projects .projects .project {
  color: #756492;
}
.dark-mode #projects .see-more {
  color: #756492;
}

#projects.dark {
  background: #0D0C0D;
}

#footer {
  height: calc(100vh - 105px);
  background: #0D0C0D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 70px;
}
#footer .text {
  color: #756492;
}
#footer .text h2 {
  margin: 0;
  font-family: "ObjectSans-Heavy";
  font-size: 80px;
}
#footer .text p {
  margin: 0;
  font-family: "PlusJakartaSans";
  font-size: 30px;
}
#footer .text a {
  font-weight: 800;
  font-family: "ObjectSans-Heavy";
  font-size: 50px;
  display: flex;
  align-items: flex-end;
  margin-top: 75px;
  text-decoration: none;
  width: fit-content;
  color: #756492;
}
#footer .text a span {
  font-size: 50px;
  margin-left: 10px;
  margin-bottom: 5px;
}

#project-content {
  display: flex;
  flex-direction: column;
}
#project-content .centered-content {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  padding: 0 calc((100vw - 1400px) / 2);
}
#project-content .centered-content > img {
  margin: auto;
  width: 1400px;
  height: 700px;
  object-fit: cover;
  border-radius: 0 0 48px 48px;
  box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.1254901961);
}
#project-content .info {
  margin: 20px 0;
}
#project-content .info h1 {
  font-family: "ObjectSans-Heavy";
  font-size: 64px;
  margin: 50px 0 20px 0;
}
#project-content .info > .separator {
  border-top: 1px solid #222;
  width: 100%;
  height: 1px;
  display: block;
}
#project-content .info .row {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  gap: 100px;
}
#project-content .info .row .desc {
  flex: 1;
  font-size: 20px;
  font-family: "PlusJakartaSans";
  font-weight: 400;
}
#project-content .info .row .more {
  flex: 1;
  transition: none !important;
}
#project-content .info .row .more table {
  transition: none !important;
}
#project-content .info .row .more table tbody {
  transition: none !important;
}
#project-content .info .row .more table tbody tr {
  transition: none !important;
}
#project-content .info .row .more table tbody tr td {
  transition: none !important;
}
#project-content .info .row .more table tbody tr td.separator {
  width: 30px;
}
#project-content .info .row .more table tbody tr td:first-child {
  font-family: "ObjectSans-Heavy";
  font-size: 20px;
}
#project-content .info .row .more table tbody tr td:last-child {
  font-family: "PlusJakartaSans";
  font-size: 16px;
}
#project-content .info .row .more table tbody tr.separator {
  height: 5px;
}
#project-content .gallery {
  width: max-content;
  transition: 0.3s all;
  margin: 0 0 0 calc((100vw - 1400px) / 2);
}
#project-content .gallery .sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
}
#project-content .gallery .sticky img {
  width: 1400px;
  height: 80vh;
  border-radius: 32px;
  object-fit: cover;
  box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.0823529412);
}

.light-mode #project-content {
  background: #F6F2FB;
}
.light-mode #project-content .info {
  color: #655A78;
}
.light-mode #project-content .info .row .desc {
  color: #655A78;
}
.light-mode #project-content .info .row .more table td {
  color: #655A78;
}

.dark-mode #project-content {
  background: #0D0C0D;
}
.dark-mode #project-content .info {
  color: #756492;
}
.dark-mode #project-content .info .row .desc {
  color: #756492;
}
.dark-mode #project-content .info .row .more table td {
  color: #756492;
}

/*# sourceMappingURL=main.css.map */
